<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arducam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Arducam</h1>
        <p>author: lqviet</p>
    </header>
    <main>
        <div class="video--contain">
            <h2>Video</h2>
            <img class="video--camera" src="{{ url_for('video_feed') }}" alt="video from arducam camera">
        </div>
    </main>
</body>
</html>